[Unit]
Description=startup for app
Documentation=https://example.com
After=cloud-final.service

[Service]
Environment=NODE_PORT=8000
Type=simple
User=admin
ExecStart=/usr/bin/node /opt/demo/server/index.js
Restart=on-failure
WorkingDirectory=/opt/demo/server

[Install]
WantedBy=cloud-init.target